[2020-08-04 10:12] #459 closed, assigned to tpitre, davideleuterius

[2020-08-05 20:48] claytonk opened #492 "3.7.3 producing uncaught reference error"
3.7.3 showing

**Uncaught ReferenceError: $jq2 is not defined at script.min.js:4**

Any reason this would be happening on my MODX sites? I rolled back to 3.7.0 and the problem disappears. Please advise.

[2020-08-05 22:14] designerbrent commented on #492
@sergsadovyi please take a look at this issue

[2020-08-06 10:13] designerbrent commented on #492
@claytonk For debugging, do you have a demo/dev site we can see this on?

[2020-08-06 11:54] sergsadovyi commented on #492
I've found possible solution. Please merge

[2020-08-06 13:06] designerbrent commented on #492
This should now be fixed in `3.7.6`. Please let use know, @claytonk, if this works or you have more issues with it.

[2020-08-06 13:11] claytonk commented on #492
Just had a look and it appears to be fixed. I'm not seeing any errors generated by 3.7.6 on my sites. Thanks guys.

[2020-08-06 13:11] #492 closed, assigned to claytonk

[2020-08-06 18:52] designerbrent opened #494 "Error introduced in 3.7.3"
With the merge of the jQuery alternative version in `3.7.3` from https://github.com/adventistchurch/alps/pull/455, an error was introduced on the homepage of Adventist.org that you can see attached below. A border is getting added and the carousel titled `Stories of Transformation` is broken. When the version is reverted back to `3.7.2` it works again.

The console has the following error:
[code]

[2020-08-10 10:46] designerbrent opened #497 "Added patterns for Background Images"
Some time back, we added the [Media Block ~ Background Image](https://alps.adventist.io/v3/?p=molecules-media-block-background-image) pattern, but I think it would be helpful to add the following:

- Page Header Feature ~ Background Image: An example like [Page Header Feature](https://alps.adventist.io/v3/?p=organisms-page-header-feature) but using the [Media Block ~ Background Image](https://alps

[2020-08-11 10:36] #494 closed, assigned to sergsadovyi

[2020-08-13 18:22] designerbrent opened #498 "Double Dropcap in Safari"
Due to the way the`.has-drop-cap` class is built in both Wordpress and now ALPS, a double drop-cap is showing in Safari.

![2020-08-13 at 2 20 PM](https://user-images.githubusercontent.com/132864/90171836-1a90e300-dd70-11ea-8c48-7b7cc3b28956.png) (This is using the default Gutenberg Drop cap setting.)

WordPress uses the following styles:

[code]

We need to put in a style to overwrite this in `AL

[2020-08-13 19:25] designerbrent commented on #498
This should be fixed in `3.5.10`.

[2020-08-13 19:25] #498 closed, assigned to nobody

[2020-08-17 10:39] designerbrent commented on #484
What's the update on this, @sergsadovyi

[2020-08-17 10:48] designerbrent opened #499 "Product and Store Pages"
We need to add a set of patterns for product and store pages. The pages needed are the following:
- Product Single
- Store Index / Landing page
- Store Checkout
- Store Cart
- Updated patterns for forms and messaging.

All the designs can be found in the following Sketch file:
[200813-ALPS-Store.sketch](https://www.dropbox.com/s/sulzvi1rmmblpaj/200813-ALPS-Store.sketch?dl=0)

## Product Single
![S

[2020-08-18 20:58] designerbrent commented on #376
@milkotodorov Take a look at the adjustments in https://github.com/adventistchurch/alps/pull/462. This class, `c-header__logo--wide`, supports widths of up to approximately `700px` over the current `250px`.

Do you have the ability to test the pull request above?

[2020-08-20 22:32] designerbrent opened #501 "Events Patterns"
We need to add a set of patterns for event promotions. The pages needed are the following:

- Events List view
- Events Calendar View
- Events Weekly View
- Events Detail View

All the designs can be found in the following Sketch file: [200819-ALPS-Events.sketch](https://www.dropbox.com/s/ubpqkhkdl6bt3zg/200819-ALPS-Events.sketch?dl=0).

## Events List view

![Events List 375](https://user-images.

[2020-08-24 18:28] brentawilson opened #503 "ALPS 2up Image Block Not Respecting Aspect Ratio of Images When Resizing Browser"
The ALPS 2up image block seems to be messing up the image aspect ratio at certain browser window widths. For an example, see this page: https://dev.telltheworld.adventist.org/en/making-tell-world/ - as you drag the browser window to different sizes, the images get stretched or squeezed.

[2020-08-25 00:19] designerbrent opened #504 "Search Meta information"
As we expand the ways the search information is presented, we need a place to display that information. I'm thinking we need to add a place for meta information like url, tags, etc.

[2020-08-25 17:54] #504 closed, assigned to designerbrent

[2020-08-25 18:29] designerbrent commented on #501
I've updated above to include the week view.

[2020-08-27 10:42] designerbrent commented on #503
We are also seeing this on most images that are scaled and it seems to be due to the the `img` rule:
[code]

Adding `    height: auto;` to that rule seems to resolve the issue.

[2020-08-27 10:55] #503 closed, assigned to designerbrent

[2020-08-27 10:58] designerbrent commented on #503
The fix for this will roll out over the next few hours with `3.7.11`

[2020-08-27 20:08] jcalado opened #507 "Vulnerabilities in node modules"
Running npm install on the project yields

`found 167 vulnerabilities (149 low, 9 moderate, 9 high)`

[2020-09-03 14:12] designerbrent commented on #507
Thanks for this note. Since most of the code Node code in ALPS isn't run live on the server but only for generating the `css`, `js`, and `html` template files.

[2020-09-03 21:44] jcalado commented on #507
The node modules being parte of the build scripts, would it be possible in the future to move away from them?
Is this because of Pattern lab?

[2020-09-04 01:51] designerbrent commented on #507
Yes, it is needed for Pattern Lab. We are discussing possibly moving away from Pattern Lab.

What is your concern with Node?

- Brent

[2020-09-08 14:55] #484 closed, assigned to sergsadovyi

[2020-09-10 12:50] MichealBwambale opened #509 "No top menu in version 3.8"
Hello team i have updated my alps to 3.8 but am not seeing the top menu. Some help?
Also would like to add a contact form in my website, how can i go by it?

[2020-09-10 15:31] designerbrent commented on #509
@MichealBwambale  Is the site in Wordpress or something else? Do you have a public URL?

[2020-09-10 15:33] designerbrent opened #510 "Print Stylesheets"
We need to add print style sheets to the system. These would be basic sheets that make sure the images get printed, margins are correct for articles, menus and Sabbath column hidden, and footer simple.

For reference:

- [Tips And Tricks For Print Style Sheets](https://www.smashingmagazine.com/2013/03/tips-and-tricks-for-print-style-sheets/)
- [I totally forgot about print style sheets](https://ux

[2020-09-24 15:22] Mabiker opened #511 "ALPS Gutenburg Blocks Plugin Fatal Error"
Am failing to install the ALPS Gutenburg Blocks Plugin on my WordPress, and am getting the Following Error. Can you help me.

![Screenshot (81)](https://user-images.githubusercontent.com/39070290/94165100-251fbb80-fe8a-11ea-98cf-00f106e654b8.png)

[2020-09-24 16:01] designerbrent commented on #511
@Mabiker did you install this with the theme or did you directly download this from GitHub?

[2020-09-24 16:04] Mabiker commented on #511
Thank you for your response...

At first a downloaded it by just clicking install on WordPress, and I got
the same error. Then I tried downloading using the GitHub URL and I am
getting the same error message.

On Thu, Sep 24, 2020, 18:01 Brent Hardinge <notifications@github.com> wrote:

[2020-09-30 15:45] designerbrent commented on #511
What version of PHP are you running?

[2020-10-08 19:56] designerbrent opened #513 "Update to the Search Patterns"
@designerbrent commented on [Thu Sep 17 2020](https://github.com/adventistchurch/alps-wordpress/issues/534)

We need to make some revisions to the search patterns

- [Search Header with Suggestions](https://alps.adventist.io/v3/?p=molecules-search-header-with-suggestions)
- [Search Template](https://alps.adventist.io/v3/?p=templates-search)
- [Header with Suggestions](https://alps.adventist.io/v3/

[2020-10-09 16:02] davideleuterius commented on #510
@designerbrent - just want to confirm with you that you want this to be global for all content? Thanks.

[2020-10-09 17:34] designerbrent commented on #510
Yes.

[2020-10-15 14:37] davideleuterius commented on #513
@designerbrent - I am reviewing this now. I don't see a current implementation of the "this site / other sites" functionality so I am assuming this is new to this as well? Or do you have something in place that we can pull on to generate these different groups of links?

[2020-10-15 15:47] davideleuterius commented on #489
@designerbrent - does this need any kind of WordPress integration? Or is this only for Pattern Lab?

[2020-10-15 15:50] davideleuterius commented on #510
@designerbrent - I'm going to estimate 12 hours for this, but I think it will take less. Working this in with my current workload I'd estimate about a week of calendar time for a turnaround on this for your review. I'll start on this tomorrow if I can, or Monday at the latest. I am accounting for any tweaks or revisions you'd like to have to get it to present exactly as you want.

[2020-10-15 16:11] designerbrent commented on #513
@davideleuterius  "this site / other site" functionality is not used yet.

[2020-10-15 16:15] designerbrent commented on #510
great! Thanks @davideleuterius

[2020-10-15 16:16] designerbrent commented on #489
@davideleuterius It will, but I have another task for that.

[2020-10-15 21:06] davideleuterius commented on #489
@designerbrent - ok, great. I am starting on this now. I am estimating this will take one to two hours to get in place for you.

[2020-10-21 15:47] designerbrent commented on #376
This is now addressed in ALPS core and will be fully released in the next day or so.

The next step is adding a setting to ALPS for Wordpress and that work will happen here: https://github.com/adventistchurch/alps-wordpress/issues/535

I will be closing this issue now as the work will continued in 525.

[2020-10-21 15:47] #376 closed, assigned to tpitre, kelscahill, davideleuterius

[2020-10-21 16:06] #499 closed, assigned to sergsadovyi

[2020-10-22 20:55] davideleuterius commented on #510
@designerbrent - I just pushed up a branch for this (v3.510-print-styles) but it is still a work in progress. There's still a lot of tweaking to be done to get a good consistency between all the different patterns and templates. I really wanted to get this completed for you today but I don't feel it is quite there yet, so I pushed this up so you can review the progress. The main issue I can see is

[2020-10-28 08:05] eduludi opened #515 "Missing class .u-shift--left--1-col--at-xlarge"
In ArchivePage template's there is a reference to a class **`u-shift--left--1-col--at-xlarge`**:
https://github.com/adventistchurch/alps/blob/e2634d3068b6f4db9dbdc65f4d477d47de881881/source/_patterns/03-templates/archive-page.json#L19

In the CSS there are `--at-large` and `--at-xxlarge`, but no **`--at-xlarge`**. Should it be added to the CSS? Or another one was meant to be used here?

[2020-11-03 15:24] designerbrent commented on #213
Closing this in favor of #501

[2020-11-03 15:24] #213 closed

[2020-11-03 15:25] designerbrent commented on #509
Since I haven't heard back from you, @MichealBwambale, I'm closing the ticket. Feel free to reopen and provide more information if this is still an issue.

[2020-11-03 15:25] #509 closed, assigned to nobody

[2020-11-03 15:26] designerbrent commented on #511
Is this still a problem for you @Mabiker? If so, please reopen the issue and provide information about where you downloaded the theme.

[2020-11-03 15:26] #511 closed, assigned to nobody

[2020-11-03 15:28] #182 closed

[2020-11-03 15:29] #18 closed

[2020-11-04 23:23] #489 closed, assigned to tpitre, davideleuterius

[2020-11-11 19:37] davideleuterius commented on #513
@designerbrent - one further question as I am working on this now. The bottom part of the search drawer, where the drawer menu is located, seems to be styled differently than how it currently is. Was this part of the changes with this or is that to be ignored in implementing this? Thanks!

[2020-11-11 21:00] designerbrent commented on #513
From what I see, it looks basically  the same. The only change should be in the upper part of the menu that displays the search results. The lower part is just pushed down to make room for the results.

[2020-12-03 14:29] semwangajoshua opened #518 "Duplication of homepage content"
The designated home page creates a duplicate of itself on the same page. Check [this link](http://cucsda.ug) out to see the problem.

[2020-12-07 11:34] designerbrent commented on #518
@semwangajoshua Can you help me see where the duplicate content is? This is what I'm seeing.

![Screen Shot 2020-12-07 at 06 33 53-fullpage](https://user-images.githubusercontent.com/132864/101346222-415eb200-3856-11eb-92eb-76558c37753b.png)

[2020-12-08 10:11] semwangajoshua commented on #518
Thanks for the follow up. However, I managed to fix the problem. It was a
code conflict with some plugin. I deactivated all my plugins and
investigated them one at a time. However, I did not find the culprit in as
much it solved the issue. Thanks for your support and continued service to
God. Regards.

------------------------------

<http://www.ipage.com/join/index.bml?AffID=750988&amp;LinkName=H

[2020-12-08 12:40] designerbrent commented on #518
Glad you found the problem.

[2020-12-08 12:40] #518 closed, assigned to semwangajoshua

[2020-12-08 21:16] davideleuterius commented on #501
@designerbrent - hey Brent, working on this now. This is not a blocker for the moment, but when you're back, I need to get that Sketch file you linked above to get a small icon out of it. The link at the top is going to a file deleted page on Dropbox. Thanks!

[2021-02-08 16:41] designerbrent opened #522 "Migration from Pattern Lab to Storybook"
This issue is to handle the discussions around the migration from Pattern Lab to [Storybook](https://storybook.js.org/). Initial work began on this a couple years ago with the development of [ALPS React](https://alps-react.adventist.io/). At the time, ALPS React was going to be an independent implementation, but as we have continued to develop it, and Storybook progressed, we realized that Storybo

[2021-02-08 20:16] #515 closed, assigned to davideleuterius

[2021-02-17 16:40] designerbrent opened #523 "Fix Accessability issues in Slick slider"
It appears there are some issues in the Slick Slider relating to Accessibility and the `aria` roles. Since the Slick slider hasn't had any updates, others have attempted to fix it. https://github.com/Accessible360/accessible-slick#why-is-this-needed

This issue is to replace the existing Slick slider with, likely, [Accessible-Slick from Accessible360](https://accessible360.github.io/accessible-sli

[2021-02-17 16:54] designerbrent opened #524 "Frontpage Patterns"
As we have worked to further refine the homepage of Adventist.org and optimize it for WebVitals, we are finding some challenges with the patterns introduced in this PR https://github.com/adventistchurch/alps/pull/425

1. Background image is making an extra call to the server for the pattern. Can this be moved locally to the Wordpress theme?
2. High CLS, I think, when the fonts load or the backgrou

[2021-02-23 15:15] designerbrent commented on #524
here is the GTMetrix report: https://gtmetrix.com/reports/www.adventist.org/DozdGtFt/

[2021-02-23 15:18] designerbrent commented on #524
Here is a similar report for the ALPS Page: https://gtmetrix.com/reports/alps.adventist.io/7wFcfh2L/

(I don't expect this one to be amazing, as I know many things are getting pulled that aren't optimized, however the CLS is still showing on the `::after` tag, so that may be the issue triggering it.)

[2021-02-25 21:39] designerbrent opened #525 "Update to slider sizes"
The current slider resizes nicely and works well for many images, but if you need to position images, or include text, it gets harder.

What we need to do is make some revisions to the slider along these lines:
- Wide viewport: force to 16:9
- Narrow viewport: resizes to 4:3
- If text is not included over the image, remove the class that adds the gradient at the bottom.

This will allow us to crea

[2021-03-16 18:39] kelscahill commented on #524
@designerbrent After looking into increasing performance, I made a few updates in ALPS PL, as well as the AORG child theme. See the PR's below. Also, based on the GTMetrix report a performance plugin will dramatically increase that score. With a performance plugin you can defer JS and Lazy Load Images. One that we use at Southleft is Perfmatters. You can check out the features here: https://perfma

[2021-03-17 01:54] designerbrent commented on #524
Thanks for making these adjustments, @kelscahill. Those are great changes and I'll merge them tomorrow, hopefully.

One other thought: How much would it save on the main ALPS library to split out the front page styles into its own file that would get loaded just on those pages?

As for performance plugins, yes, I do run WP Rocket and that does help a lot. I haven't used PerfMatters but it looks si

[2021-03-17 14:43] designerbrent commented on #524
@kelscahill Have you had a chance to look at the `::after` class issue with the `CLS`?

[2021-03-19 14:30] kelscahill commented on #524
@designerbrent I reran the GMetrix test and looks like the site has an A now!

Since the score is so high, I don't see much value in separating the homepage css, but if we ever had to this website might be of value: https://unused-css.com/

The `::after` could possibly be the grid on the background. I could try to force it never displaying only on the AORG child theme homepage. Let me know if this

[2021-03-19 19:13] kelscahill commented on #501
@designerbrent Could you re-link the Sketch file? It looks like it has been moved to the trash in Dropbox.

[2021-03-22 11:02] designerbrent commented on #501
Here is an updated link to a newer version: https://www.dropbox.com/s/4qwwburdv2voqxc/200821-ALPS-Events.sketch?dl=0

[2021-04-01 21:21] designerbrent opened #529 "Add text-transform classes"
We need to add 2 new text-transform classes to allow manual overrides of some headings and other things:

- u-text-transform--unset
- u-text-transform--capitalize

[2021-04-01 21:58] designerbrent commented on #524
I'm happy to see the `A` score for Desktop. However my only concern is Mobile right now, as Google is moving to only ranking based on mobile. [Our mobile score is bad](https://gtmetrix.com/reports/www.adventist.org/UaWu7RVc/)

Let's address the `::after` issue, at least on the homepage. I don't think it is the grid, as Adventist.org doesn't use the grid. Please look deeper into this.

[2021-04-01 23:55] designerbrent opened #530 "Separating Dark Mode CSS"
Last year, we split out the CSS files by color (https://github.com/adventistchurch/alps/issues/463) to allow for smaller files. That was a huge help for performance.

Please look into what it would take to split out the dark-mode version of the theme (`u-theme--dark`). Would we see any significant reduction of file sizes? It would add some complication on the theme side, and but I would like to ex

[2021-04-06 11:15] designerbrent commented on #524
@kelscahill After further testing by disabling Javascript, I found that the flash of gradient that is causing problems is the gradient that shows comes from the gradient classes (`u-theme--gradient--right` and `u-theme--gradient--left`) inside `c-testimonies-media`. Once the Javascript loads, the gradient only applies to the `c-testimonies-media` block, but before that, it shows the full height of

[2021-04-19 12:19] #513 closed, assigned to tpitre, kelscahill

[2021-04-22 18:08] joslemmons commented on #529
Hey @designerbrent , looks like you took care of this here https://github.com/adventistchurch/alps/commit/eb1f00a18be7c8b56bd9b0dfee82221c4b55e11b ?

[2021-04-22 18:35] designerbrent commented on #529
Yes.  I should have closed this issue.

[2021-04-22 18:35] #529 closed, assigned to joslemmons, kelscahill

[2021-04-26 14:12] LeobardoHP opened #531 "Add Google Form"
Good morning, God bless you.
When I use an embedded HTML to use a form made in Google Forms, the page displays the form with the height dimension greatly reduced. Where can I configure to extend the height of the form?

http://iglesianarvarte.org/solicitud-de-asistencia-al-templo/

[2021-04-26 14:27] designerbrent commented on #531
hi @LeobardoHP: For something like this, I would try using a plugin like [Simple CSS](https://wordpress.org/plugins/simple-css/) that allows you to write custom CSS on a per-page basis. Using css like the following should do it:

[code]

If you an add an ID or Class to the iFrame, that would be even better, as you can make the CSS be specific.

[2021-04-26 14:27] #531 closed, assigned to nobody

[2021-04-26 14:30] designerbrent commented on #531
One more note: I just saw this plugin that might be able to help and allows you to write some custom height parameters for each iframe: https://wordpress.org/plugins/advanced-iframe/

[2021-04-29 10:40] #510 closed, assigned to tpitre, kelscahill

[2021-04-29 10:50] kelscahill commented on #501
@joslemmons Here is the branch that I was working on. `v3.501-events` I was mid-development when I pushed up my branch and had just started building the patterns, so not too much is done yet.

[2021-04-29 10:51] kelscahill commented on #524
@joslemmons See Brent's comments above.

[2021-04-29 12:47] designerbrent commented on #524
@kelscahill and @joslemmons I'm going to close this ticket now, as I think we have addressed the issues at hand, either through the changes that happened here or via server improvements.

[2021-04-29 12:47] #524 closed, assigned to tpitre, kelscahill

[2021-04-30 19:19] joslemmons commented on #501
Hey @designerbrent , I grabbed that Sketch file above but I am missing some of the fonts used in it. Could you send me a link to them?

[2021-04-30 19:22] designerbrent commented on #501
Does it say which fonts are missing? I can get them from the designer.

- Brent

[2021-04-30 19:41] joslemmons commented on #501
AdventSans-Logo
NotoSans
NotoSerif

Thanks!

[2021-05-03 10:46] designerbrent commented on #501
Here you go:

- AdventSans: (bottom of the page) https://identity.adventist.org/global-elements/advent-sans/
- Noto Sans and Serif: https://www.google.com/get/noto/

[2021-05-12 17:44] designerbrent opened #533 "JS Error from Version 3.10.x and forward"
I recently noticed that we have an JS error in the console on every site running ALPS 3.10.0 and newer. That is the version that came with the new search patterns in https://github.com/adventistchurch/alps/pull/519/.

The error that shows is the following:

[code]
That points to this line:
https://github.com/adventistchurch/alps/blob/79f69f0c79f336386455c672628493e2c7d6ff02/source/js/script.js#L50

[2021-05-13 10:41] #533 closed, assigned to tpitre, joslemmons, kelscahill

[2021-05-17 15:14] eduludi opened #535 "[Chrome] Missing style for input with autofill"
In Chrome, when a field like email is autofill, some agent styles are added to `input:-internal-autofill-selected`, rendering the background white (and also other styles). This is clearly visible now in ANN's homepage, in the "Subscribe" form: https://adventist.news

To reproduce it in this site:

1. Subscribe with an email account
2. Reload the page
3. Trying to fill-up the email field again will

[2021-05-31 08:06] milkotodorov opened #537 ""wp-block-button aligncenter is-style-default" is aligning to the left."
The class="wp-block-button aligncenter is-style-default" is aligning to the left and is not working as expected since quite some time already. It worked good in the past, but I lost sight of since which version is stopped. You can take as reference our website: https://rm-isac.de/ - the buttons on the bottom as well as on the side board should be centered.

[2021-06-14 16:28] designerbrent commented on #537
From looking at the code, it appears to be running an older version of the button code, and possibly Wordpress.

You are using the following classes `wp-block-button aligncenter is-style-default`, while the default behavior uses these classes: `wp-block-buttons is-content-justification-left` (or `is-content-justification-center` for centered and ` is-content-justification-right` for right aligned.

[2021-06-15 17:23] designerbrent opened #538 "Search Suggestions Preview in Pattern Lab"
When the [search suggest patterns](https://alps.adventist.io/v3/patterns/01-molecules-forms-search-drawer-with-suggestions/01-molecules-forms-search-drawer-with-suggestions.html) were created, the following snippet was included to ensure we could preview the search suggestion functionality. However, we need to address two issues:

1. This mocking function needs to be removed from the production co

[2021-06-29 21:01] #538 closed, assigned to joslemmons

[2021-07-18 16:03] YauheniKapliarchuk commented on #522
Hi @designerbrent, @sergsadovyi
Having studied the entire structure and taking into account your wishes, I propose the following plan:

 - **Part 1.** Create a separate branch in the repository called "storybook" and configure the storybook itself.
Created a separate ticket for this - [PART 1. Migration from Pattern Lab to Storybook #540](https://app.zenhub.com/workspaces/alps---core-and-wp-583365

[2021-07-18 16:07] YauheniKapliarchuk opened #540 "PART 1. Migration from Pattern Lab to Storybook"
1. Create a separate branch in the repository called "storybook"
2. Configure the storybook itself.
3. Test build whole project

[2021-07-18 16:10] YauheniKapliarchuk opened #541 "PART 2. Migration from Pattern Lab to Storybook"
1. Configure the branch build in order to build it on npm.
2. Test the use of components in a third-party project

[2021-07-18 16:13] YauheniKapliarchuk opened #542 "PART 3. Migration from Pattern Lab to Storybook"
1. Transfer components from the pattern lab.
2. Build a build.
3. Test it on a third-party project.

[2021-07-18 16:14] YauheniKapliarchuk opened #543 "PART 4. Migration from Pattern Lab to Storybook"
1. Convert the components that are used in the alps project to a new branch.
2. Build a build
3. Test it on a third-party project.

[2021-07-18 16:15] YauheniKapliarchuk opened #544 "PART 5. Migration from Pattern Lab to Storybook"
1. Build the first version of the entire "storybook" branch.
2. Conduct full testing

[2021-07-18 16:16] YauheniKapliarchuk opened #545 "PART 6. Migration from Pattern Lab to Storybook"
1. Implementing a new branch in third-party projects.
2. Testing

[2021-07-23 15:12] YauheniKapliarchuk commented on #540
📌📍
1. Name of branch "**storybook**" from _master_ branch

Technologies:
✅ - React - v.17.0.2
✅ - TypeScript - v.4.3.5
✅ - Rollup
✅ - ESLint
✅ - Storybook - v.6.3.5 (need refactoring default project)
✅ - LICENCE

✅ 2. NPM package name - **alps-library**

link to the repository brach - https://github.com/adventistchurch/alps/tree/storybook

[2021-08-01 07:40] YauheniKapliarchuk commented on #542
✅ - Preparation before migration (create table with comparing Pattern Lab and Current Storybook). @designerbrent Could you review this table and names?
   Link to the table - https://drive.google.com/file/d/1gynyp2R6gVPrNETX7Zz4drsYp8MZN7MV/view?usp=sharing

[2021-08-09 18:33] designerbrent opened #546 "Switch <u> to <mark> on search results page"
The search results page should be using `<mark>` instead of `<u>` to highlight where the search term on is on the page.

https://alps.adventist.io/v3/?p=templates-search-with-suggestions

We also need to update the CSS for `<mark>` to be closer to the `<u>` tag.

[2021-08-10 12:40] designerbrent commented on #546
Fixed in `3.11.4`.

[2021-08-10 12:40] #546 closed, assigned to designerbrent

[2021-08-12 20:49] designerbrent commented on #542
I've looked over the table I think it makes sense. Let's talk about it more at our next meeting, @YauheniKapliarchuk

[2021-08-16 13:28] YauheniKapliarchuk commented on #541
✅   - Deploy in the GitHub pages
https://alps-dev.adventist.io/?path=/story/example-button--primary

✅  - Deploy in the npm
https://www.npmjs.com/package/alps-library

[2021-08-16 14:50] #540 closed, assigned to YauheniKapliarchuk

[2021-09-02 18:41] YauheniKapliarchuk commented on #542
COMPONENTS section:
- ✅ [Button](https://adventistchurch.github.io/alps/?path=/story/components-button--basic)
- ✅ [Icon](https://adventistchurch.github.io/alps/?path=/story/components-icon--default-icon)
- ✅ [IconWrap](https://adventistchurch.github.io/alps/?path=/story/components-icon-wrap--default)
- ✅ [lists](https://adventistchurch.github.io/alps/?path=/story/components-lists-definition--basi

[2021-09-02 21:06] designerbrent commented on #542
@YauheniKapliarchuk I haven't seen the icons show up on the demo site, so I'm guessing it hasn't been rebuilt.

Can you please open a new issue of the `.o-button--icon-right` issue?

[2021-09-14 07:49] YauheniKapliarchuk commented on #543
COMPONENTS section:
- ✅ [Button](https://adventistchurch.github.io/alps/?path=/story/components-button--basic)
- ✅ [Icon](https://adventistchurch.github.io/alps/?path=/story/components-icon--default-icon)
- ✅ [IconWrap](https://adventistchurch.github.io/alps/?path=/story/components-icon-wrap--default)
- ✅ [lists](https://adventistchurch.github.io/alps/?path=/story/components-lists-definition--basi

[2021-09-14 07:55] YauheniKapliarchuk opened #548 "Update global css styles file"
**1. Not correct icon position in _toggle_ component** - https://adventistchurch.github.io/alps/?path=/story/components-button--toggle

When toggle was clicked we can see the uneven display of the icon inside it.
![Screen Shot 2021-09-14 at 10.53.52.png](https://images.zenhubusercontent.com/5fad62a4ad9b1d5fdb82c9f8/6a9c73fe-82f6-4f11-91f8-ff5b96c7851c)

html for this element:
`<button class="o-but

[2021-09-14 07:59] YauheniKapliarchuk commented on #542
@designerbrent

https://app.zenhub.com/workspaces/alps---core-and-wp-583365a5f9e6361b5cc5f5f6/issues/adventistchurch/alps/548

Thank you

[2021-09-14 13:53] #541 closed, assigned to YauheniKapliarchuk

[2021-09-21 07:06] YauheniKapliarchuk commented on #542
✅ 1. Publish new version of Library - https://www.npmjs.com/package/alps-library
         - `npm i alps-library`

[2021-11-09 10:55] YauheniKapliarchuk commented on #544
📌 For testing library you can use this **_npm library_** - https://www.npmjs.com/package/alps-library

📌 link to the **_ALPS Library_** - https://adventistchurch.github.io/alps/?path=/docs/introduction-installation--page

Prepared build to NPM includes:
- 📍 Full components' folder
- 📍 Molecules folder: blocks, churchLocator, components

[2021-11-16 15:24] YauheniKapliarchuk commented on #543
✅ Integrate css to APLS-Library (Need full testing components)
✅ Rebuild library in NPM repository like Alps-React

[2021-11-26 10:53] slatinasda opened #549 "Make theme elements translatable"
# Version of ALPS for Wordpress

- 3.11.4

# Description:

At the moment, not all theme elements are translatable:

![Non-translatable button](https://user-images.githubusercontent.com/59762579/143567407-636f609a-210a-4656-87e8-4000ff2df3f9.png)

Upon inspecting the DOM element of this button, I saw that the label "Show" comes from the CSS file of the theme (main-campfire in my case), which by def

[2021-11-30 09:40] YauheniKapliarchuk commented on #544
TODO:
- [x] Test components folder and finish documentation
- [x] Test molecules folder and finish documentation
- [x] Add info about wrappers
- [x] Content Block "category" is misplaced
- [x] Add information about styles in the library
- [x] Clickboard estimation on the colors page
- [x] Rebuild structure of components and change "components" to "atoms"
- [x] Investigation adding releases in the

[2021-12-15 10:28] YauheniKapliarchuk commented on #544
- [ ] Clickboard add to whole fields

[2021-12-15 10:34] YauheniKapliarchuk commented on #545
- [x] Clickboard add to whole fields
- [x] Do not use fonts and size on the storybook pages the same ALPS system
- [x] Tables component move to one
- [x] Add description minimum for components, add html to doc, add jsx in ONE section
- [x] Fix documentation for big components (Picture)
- [x] Investigate Shabbat component (changing scrolling colour)
- [x] Fix Video component (width and height)
----

[2022-01-03 09:12] YauheniKapliarchuk opened #550 "UPDATE ESLINT plugin"
We are using

After update this library to 8.0.0 version we have this issue - https://github.com/eslint/eslint/issues/15149

Of course we can use some beta or RC version this library
- https://github.com/typescript-eslint/typescript-eslint/issues/3738, but I propose to see latest version may be 9.0.0 and will update this library or update ESLINT config.

[2022-01-10 20:34] hans-olson opened #551 "ALPS CTA block Upload Issue"
In ALPS CTA block doesn't work upload button for pictures.

It opens Media Library but it doesn't add the picture after it was selected.

<img width="994" alt="Screen_Shot_2022-01-10_at_21 52 57" src="https://user-images.githubusercontent.com/61567403/148835237-d6b26fe5-b0d0-473e-a7dd-356fa6ad649c.png">

[2022-01-10 20:39] hans-olson commented on #551
@johnrbeckett @YauheniKapliarchuk

[2022-01-10 20:48] YauheniKapliarchuk commented on #551
@hans-olson
Thank you for this. I am going to see this issue.

[2022-01-11 17:19] hans-olson commented on #551
Thank you.

[2022-01-19 04:42] hans-olson commented on #551
@YauheniKapliarchuk

Is this issue fixed?

Thank you.

-Hans

[2022-01-23 19:21] niccardo opened #553 "Issue with Alps Widget Text with Link"
Has anyone experienced the below error?

"The "carbon_fields_alps_widget_text_with_link" block was affected by errors and may not function properly. Check the developer tools for more details."

I am seeing this while trying to make updates to the page sidebar. I am using WordPress.

[2022-01-25 14:37] YauheniKapliarchuk opened #554 "Migration Support"
- [ ] Add Need templates from patternLab

--------------------------------------------------

- [ ] Support migration issue and bug fixing

[2022-01-25 14:41] YauheniKapliarchuk opened #555 "ALPS Library Support"
- [ ] Add Need templates from patternLab

---------------------------------------------

- [ ] Bug Fixing

[2022-01-25 14:42] #554 closed, assigned to nobody

[2022-01-25 16:32] hans-olson commented on #555
Will this appear as a new version of ALPSv3 on your websites?

[2022-02-01 14:05] YauheniKapliarchuk commented on #555
Now we have problems with the build. Since the latest version that should
be and in which there are recent changes, including fixes with the media
block, is 2.1.0.

You are using version 2.0.1, most likely.

What version of the library are you currently using?

On Tue, 25 Jan 2022 at 19:32, hans-olson ***@***.***> wrote:

[2022-02-01 14:49] hans-olson commented on #555
I am using Version 2.0.1. It appears the update is not being triggered in WordPress. Can you get me access to 2.1.0. We also need to find a way to have it automatically triggered.

Thank you.

-Hans

[2022-02-01 14:51] YauheniKapliarchuk commented on #555
Yes, we had meeting with Brent yesterday and I am working on this.

Give me a few days for fix it.

Thanks!

On Tue, 1 Feb 2022 at 17:49, hans-olson ***@***.***> wrote:

[2022-02-09 18:54] YauheniKapliarchuk commented on #555
@hans-olson

Hi Hans. I still in progress for rebuilding project, but I tested version 2.0.1 on our environments and it works fine.
But please update version of your theme and alps-guthenberg plugin.

Thanks!

[2022-02-09 18:58] YauheniKapliarchuk commented on #555
@hans-olson

could you please send a link to this problem, where you attached the screenshot, again?

[2022-02-09 19:02] YauheniKapliarchuk commented on #555
@hans-olson
Let's talk in this issue adventistchurch/alps-gutenberg-blocks#77

[2022-02-09 22:18] hans-olson commented on #522
@johnrbeckett @hans-olson

[2022-02-11 10:10] ofsdaweb commented on #555
Hello,

My apologies if this is the wrong thread for my question. I'm looking to find support for using the ALPS theme 3.X after loading the template in wordpress. I see there are various page templates looking at the adventist.io site, but how does one load these templates in wordpress? I would appreciate any direction/help to apply these page templates. I appreciate your time and help as I'm una

[2022-02-11 10:44] YauheniKapliarchuk commented on #555
Hi @ofsdaweb !

1. Did you install theme ALPS for Wordpress theme?
2. Which version?

Thanks!

[2022-02-12 17:13] ofsdaweb commented on #555
Hello Yauheni,

I installed the ALPS for wordpress v3.X. I'm using Local Flywheel to build
locally. The defaut template with no content loads, but I'm unable to
figure out how to load any of the developed pattern template pages I see in
the demo from the adventist.io site. I would greatly appreciate guidance as
to how to load/apply these templates to the site and any tutorial videos on
using this

[2022-02-18 14:44] jcalado opened #558 "wrong slack link on alps.adventist.io/v3"
Not sure this is the best place to report this but the https://slack.gain.adventist.org/ URl linked to from the sidebar slack image doesn't work.

Is there no longer a slack server/channel, or is the redirection not working?

[2022-02-22 21:10] #543 closed, assigned to YauheniKapliarchuk

[2022-02-22 21:10] #544 closed, assigned to YauheniKapliarchuk

[2022-02-22 21:29] YauheniKapliarchuk commented on #555
Hi @ofsdaweb

I apologize for such a long wait.

For my part, I have discussed this issue and @hans-olson will help you!

@hans-olson  Could you help?

Thanks!

[2022-02-23 14:51] hans-olson commented on #555
Hello @ofsdaweb,

Not all the ALPS theme options are in the WordPress theme. I trust you have viewed this page: https://www.adventist.io/themes/wordpress/

One of the required elements of ALPS is the ALPS Gutenberg Block Editor. If you have that installed you should be able to choose all the WordPress ALPS blocks.

I hope this helps

Blessings,

Hans

[2022-02-23 14:52] ofsdaweb commented on #555
Thank you for the response! I have a meeting on March 5 with our board to
decide if we can use this theme or will have to go with another theme. Our
team really likes v3, but have not been able to find support for it. Moving
forward with the ALPS v3 will depend on if I can find  support for training
and applying the developed pattern template pages. If it is possible to get
assistance with this pr

[2022-02-23 14:54] hans-olson commented on #555
Hi Dave,

In which conference are you?

Blessings,

Hans

--
Hans Olson, PMP<https://www.credly.com/badges/e19819d0-34e2-4d4c-a914-7e4d4bbe29f2/public_url>
GC Office of Global Software & Internet
Email: ***@***.******@***.***>
Voice/Text/Signal: +1-202-440-3949
Fax: +1-202-204-5739
Zoom ID: https://adventist.zoom.us/my/hansolson

From: DMag ***@***.***>
Date: Wednesday, February 23, 2022 at 9:52 A

[2022-02-23 15:00] ofsdaweb commented on #555
Hello,

Thank you for your response Hans! I believe I have the block editor already
installed and I do see the options to add blocks, but wanted to know how I
can load the "template pattern pages" that are already developed on the
adventist.io site vs me having to recreate them (I tried, but I'm not
getting the results like what has been developed). Is there a step by step
on how to load these tem

[2022-02-23 17:11] ofsdaweb commented on #555
Hi Hans!!

We are part of the Southern Conference.

On Wed, Feb 23, 2022, 9:54 AM hans-olson ***@***.***> wrote:

[2022-02-23 17:57] johnrbeckett commented on #555
Hi Dave,
Thank you for your interest in using the ALPSv3 WordPress theme on your web site. At this time, our support is limited to the documentation at https://www.adventist.io/themes/wordpress/ and addressing to bug reports and feature requests. We may also work on producing a training video to help web managers understand how to get started using the theme. Unfortunately, we do not have the capa

[2022-03-29 14:12] #545 closed, assigned to YauheniKapliarchuk

[2022-04-08 03:54] reachdamian opened #559 "Shadow menu on mobile"
Whenever I use the css and js ALPS files as they are on the alps.adventist.io page the secondary links on the shadow menu do not work on mobile device. For example:
<script src="//cdn.adventist.org/alps/3/latest/js/head-script.min.js" type="text/javascript"></script>

I had to replace "**latest**" with the actual version number **3.11.4.** for it to work.

This is a custom built site in C#, so I h

[2022-06-30 07:22] jcalado commented on #559
CDN /latest has not been updated in quite some time and is stuck at 3.6.1

https://github.com/adventistchurch/alps/tree/cdn/3/latest

[2022-09-05 09:54] daniel-eesti opened #567 "Footer localization"
Make footer content such as Site Branding Statement, Copyright, and Address localizable.

![image](https://user-images.githubusercontent.com/98831022/188421753-cdbcf930-b285-4654-8b69-02f71b6c78c9.png)

[2022-09-06 14:46] #497 closed, assigned to nobody

[2022-09-06 14:47] #262 closed

[2022-09-06 14:47] #432 closed, assigned to nobody

[2022-09-06 14:48] #441 closed, assigned to nobody

[2022-09-07 09:50] daniel-eesti opened #568 "Footer localisation | Site Branding Statement"
**Description**
Make footer content localizable. This task includes localization of the "Site Branding Statement".

Localization could be implemented the same way as logo localization is implemented (ALPS Theme Settings).

![image.png](https://images.zenhubusercontent.com/6202899afa52985a8d095480/dd0f45d4-9c38-4b34-9653-cfa9dca92aec)

[2022-09-07 09:51] #567 closed, assigned to daniel-eesti

[2022-09-08 15:21] daniel-eesti opened #569 "CTA block contains HTML <title> tag"
**Description**
ALPS CTA (call to action) block contains HTML `<title>` tag, which causes having multiple <title> tags on one page. Ahrefs sees it as an SEO error. The  `<title>` tag should be removed from the CTA block's code.

![image.png](https://images.zenhubusercontent.com/6202899afa52985a8d095480/250d0d32-9d19-4281-9502-131daed6c4bb)

**Affected pages**
https://www.adventist.org/who-are-seve

[2022-09-13 13:59] daniel-eesti opened #570 "Search button is not responsive"
**Description**
The size of the "search" item at the top menu is not responsive (doesn't match the width of the content). The Text item should be the same width as the text content of it. When it gets wider it should move the other content of the menu, like "MENU" to the left (desktop), to the right (mobile).
If the text content has more than 30 symbols - the text should be ellipsized (25 symbols

[2022-09-13 14:00] daniel-eesti opened #571 "Columns | No left margin on mobile devices"
On mobile devices, the first item of the left column has no left margin. It looks fine on the desktop.

![image.png](https://images.zenhubusercontent.com/6202899afa52985a8d095480/b01ab837-d00f-47a1-9d6c-525d38aa9e86)

[2022-09-13 14:08] #542 closed, assigned to nobody

[2022-09-13 14:09] #555 closed, assigned to hans-olson, daniel-eesti

[2022-09-13 16:52] #433 closed, assigned to nobody

[2022-09-13 16:53] #507 closed, assigned to nobody

[2022-09-13 16:53] #447 closed, assigned to nobody

[2022-09-13 16:53] #448 closed, assigned to nobody

[2022-09-13 16:53] #523 closed, assigned to nobody

[2022-09-13 16:53] #525 closed, assigned to nobody

[2022-09-13 16:55] #501 closed, assigned to tpitre, joslemmons, kelscahill

[2022-09-13 16:55] #530 closed, assigned to nobody

[2022-09-13 16:56] #550 closed, assigned to YauheniKapliarchuk

[2022-09-27 10:09] YauheniKapliarchuk commented on #569
Hi @daniel-eesti
Regarding this issue I can said that this <title> tag using in svg icon like tooltip.
**For Example**
If we have this tag we can see:
![Screenshot 2022-09-27 at 14.04.34.png](https://images.zenhubusercontent.com/5fad62a4ad9b1d5fdb82c9f8/92248428-42c5-46e0-9e4d-c5988f04dca0)

If not:
![Screenshot 2022-09-27 at 14.04.12.png](https://images.zenhubusercontent.com/5fad62a4ad9b1d5fdb82c

[2022-09-27 10:36] YauheniKapliarchuk commented on #568
Hi @daniel-eesti

We need to discuss about this issue, because these fields configured from ALPS Settings, this is not static.
I think, this need to be configured for each language and country individual.

Thanks,
Best Regards!

[2022-09-27 14:36] YauheniKapliarchuk commented on #568
After meeting

**Work with WPML plugin**
START From 2 fields:
- Site Branding Statement;
- Global Branding Statement.

Thanks,
Best Regards!

[2022-09-29 22:01] hans-olson commented on #570
@daniel-eesti I believe this is resolved. Is that true?

[2022-10-03 10:29] daniel-eesti commented on #569
@YauheniKapliarchuk New task is to figure out why the SVG tag disappears on adventist.org, but works fine on other ALPS website and fix it.

[2022-10-03 10:32] daniel-eesti commented on #568
Breaking down the original issue into new three issues.

[2022-10-03 12:27] 7bd7 commented on #570
Yes, I have tested it on the IPRS website and it works fine, thanks.

[2022-10-05 15:06] johnrbeckett commented on #569
Please grant Yauheni access to adventist.org staging environment to debug the child theme there. This likely isolates the issue to the child theme.

[2022-10-05 15:07] johnrbeckett commented on #568
Hans has taken care of this, please let him know if you don't have access

[2022-10-10 20:13] daniel-eesti commented on #569
@hans-olson  Please, give Evgeniy Limited Access to www.adventist.org (production). Because we can reproduce this issue only on the production of adventist.org he needs this access for debugging.

[2022-10-10 20:23] daniel-eesti commented on #568
@hans-olson as far as I know @YauheniKapliarchuk still have no access to the paid version of the WPML plugin. Please, provide it.

[2022-10-10 20:30] hans-olson commented on #569
From: Hans Olson <HansO@gc.adventist.org>
Date: Monday, October 10, 2022 at 4:29 PM
To: Bogdanov, Daniel <bogdanovd@gccontractor.org>, Beckett, John R. <BeckettJ@gc.adventist.org>
Cc: Kapliarchuk, Yauheni <kapliarchuky@gccontractor.org>
Subject: Re: Debug CTA issue on a.org
Hi Daniel,

Yauheni already has the “limited role” on [www.adventist.org](http://www.adventist.org/). Does he need higher acc

[2022-10-10 20:32] daniel-eesti commented on #569
@YauheniKapliarchuk today you told me that you have no access to a.org production. Please, double-check it.

[2022-10-10 20:32] hans-olson commented on #568
@daniel-eesti

I just checked. It is already installed.

[2022-10-10 20:33] hans-olson commented on #568
<img width="749" alt="Screen Shot 2022-10-10 at 4 33 21 PM" src="https://user-images.githubusercontent.com/61567403/194948229-7ba7311a-6e04-481f-bb54-24fc74c34647.png">

[2022-10-11 17:00] YauheniKapliarchuk commented on #569
Hi everyone

Regarding this issue I want to say.

_As for this situation, it happened for several reasons._

**1.** Gutenberg plugin in one of the latest releases has been changed very much, or rather the blocks that it contains. The biggest changes were made for the GTA block, both for the edit page and for displaying this component on the user's side.;
**2.** CTA blocks The blocks on most pages

[2022-10-11 17:01] YauheniKapliarchuk commented on #569
@daniel-eesti  @hans-olson

Could you please test it?

Thanks,
Best Regards!

[2022-10-11 17:04] daniel-eesti commented on #568
@hans-olson  When he said that he needs access to WPML he meant that he need the activation key.
To develop this feature he needs to install WPML locally, and because the plugin is paid he needs an activation key.

[2022-10-11 20:18] hans-olson commented on #568
Hi Daniel,

The key is URL specific. I believe the expectation was to use https://alps-demo.adventist.io to develop the feature.

-Hans

-
Hans Olson, PMP<https://www.credly.com/badges/e19819d0-34e2-4d4c-a914-7e4d4bbe29f2/public_url>
Email: ***@***.******@***.***>
Voice/Text/Signal: +1-909-929-5300
Fax: +1-202-204-5739
Zoom ID: https://adventist.zoom.us/my/hansolson

From: Daniel Bogdanov ***@***.

[2022-10-11 21:17] daniel-eesti commented on #569
@YauheniKapliarchuk Let's clarify it. There is no code update required, I just ask my team to recover (recreate for some cases) these problematic CTA blocks, right?

[2022-10-18 11:01] daniel-eesti commented on #569
I got an affirmative answer to my previous question from @YauheniKapliarchuk.

We have updated all problematic ALPS CTAs, and I rerun Ahrefs Site Audit. It found no pages with multiple title tags; the problem is solved.

[2022-10-18 11:01] #569 closed, assigned to nobody

[2022-11-08 22:34] gldamsteegt opened #576 "Secondary navigation menu overlaps Search and Menu"
I applied ALPS.v3 to my Wordpress site, and the secondary navigation menu is overlapping the "SEARCH" and "MENU" buttons in the top right-hand corner. I thought it might just be my site, but I see the same thing on the sample pages here: https://alps.adventist.io/v3/?p=pages-home

Will this be fixed or is ALPS abandoned? If anyone has the CSS to override, I'd appreciate it. Thanks so much.

[2022-11-08 22:40] gldamsteegt commented on #576
I just updated the theme and it seems to have been fixed!

[2022-11-16 16:01] YauheniKapliarchuk commented on #568
Hi,
After sprint review we decided:

1. See key on the DB;
2. Discuss with Brant.

Thanks,
Best Regards!